<main>
    <div class="container mt-5">
        <div class="row">
            
            <div class="col-md-6">
                <h2 class="bienvenida">Bienvenidos a Nuestra Página</h2>
                <p class="descripcion">Tu guía completa para conocer el planeta. Desde la bandera hasta la capital, pasando por datos sobre población y geografía. Explora cada país y adéntrate en la historia y cultura de las naciones del mundo.</p>
            </div>

            <div class="col-md-6 contenedor-video">
                <img src="planet.gif" alt="GIF" class="img-fluid">
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">

       
            <div class="col-md-6">
                
                <div id="carruselMaravillas" class="carousel slide mt-5" data-bs-ride="carousel">
                    <div class="carousel-inner">
                       
                        <div class="carousel-item active">
                            <img src="muralla.avif" class="img-fluid" alt="Gran Muralla China">
                        </div>
                        <div class="carousel-item">
                            <img src="petra.webp" class="img-fluid" alt="Petra">
                        </div>
                        <div class="carousel-item">
                            <img src="cristo.webp" class="img-fluid" alt="Cristo Redentor">
                        </div>
                        <div class="carousel-item">
                            <img src="machu-pichu.jpeg" class="img-fluid" alt="Machu Picchu">
                        </div>
                        <div class="carousel-item">
                            <img src="chichen-itza-ruins.jpg" class="img-fluid" alt="Chichén Itzá">
                        </div>
                        <div class="carousel-item">
                            <img src="Coliseo.jpeg" class="img-fluid" alt="El Coliseo">
                        </div>
                        <div class="carousel-item">
                            <img src="taj mahal.jpeg" class="img-fluid" alt="Taj Mahal">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 contenedor-texto">
                <h2 class="bienvenida">Descubre Información del País que Quieras</h2>
            </div>
        </div>
    </div>

</main>